.content{
    width: 90%; 
    margin: auto;
}

#selectLevelBox{
    margin: 20px 0 20px 0;
}

#selectLvlLabel, #createLvlLabel{
    color: white;
    font-size: 30px;
    font-weight: bold;
    float: left;
    margin: 0 10px 0 10px;
}

a{
    color: white;
    text-decoration: none;
}

#boardSizeLabel{
    font-size: 22px; 
    font-weight: 500; 
    float: left;
}

.selectLevel{
    width: 130px; 
    float: left; 
    margin-left: 30px;
}

.levelItem{
    float: left;
    width: 10%;
    height: 60px;
    color: bisque;
    background-color: darkgrey;
    margin: 5px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 5px;
}

.levelItem:hover{
    background-color: rgb(139,139,139);
    border: 1px solid rgb(66, 62, 62);
}