<div>Create level map</div>
<div id="createLevelBox">
    <p id="boardSizeLabel">Board size</p>

    <ng-select class="selectLevel"
        [items]="boardSizes"
        bindValue="sideSize"
        bindLabel ="size"
        [(ngModel)]="selectedSize"
        [clearable]="false"
        [clearOnBackspace] = "true"
        (change)="selectBoardSize(selectedSize)"
        >

    </ng-select>

    <div style="clear: both;"></div>
</div>


<!--<div *ngIf="sizeIsSelected">
    <div class="items" *ngFor="let val of board; let i=index">
        <div style="float: left;" *ngFor="let val2 of board[i]; let j=index">
            <div *ngIf="board[i][j]===1" class="tile ground" (click)="clickTile(i,j)">
            </div>
            <div *ngIf="board[i][j]===0" class="tile tree" (click)="clickTile(i,j)">
                <i class="icon-tree icon"></i>
            </div>
            <div *ngIf="board[i][j]===2" class="tile tent" (click)="clickTile(i,j)">
                <i class="icon-campsite icon"></i>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>-->

<br /><br /><br /><br />

<div *ngIf="sizeIsSelected">
    <ng-container *ngFor="let row of board; let i=index">
        <div class="cell"
            *ngFor="let cell of row; let j=index"
            [class.tree]="board[i][j] === 0"
            [class.ground]="board[i][j] === 1"
            [class.tent]="board[i][j] === 2"
            (click)="onTileClick(i,j)"
            style="float:left"
        >
        <i *ngIf="board[i][j]===0" class="icon-tree icon"></i>
        <i *ngIf="board[i][j]===2" class="icon-campsite icon"></i>
    </div>
    <div style="clear: both;"></div>
    </ng-container>
</div>