.content{
    width: 90%;
    margin: auto;
}

#createLevelBox{
    width: 90%;
    margin: auto;
    margin: 20px 0 20px 0;
}

.Label{
    font-size: 22px; 
    font-weight: 500; 
    float: left;
}

.selectLevel{
    width: 130px; 
    float: left; 
    margin-left: 30px;
}

.icon{
    font-size: 30px;
    text-align: center;
}

.icon-tree{
    color: rgb(7, 70, 7);
}

.icon-campsite{
    color: rgb(114, 8, 8);
}

.ground{
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 20px;
    background-color: rgb(32, 29, 29);
    border-radius: 3px;
}

.selectedTile{
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 20px;
    background-color: rgb(110, 108, 108);
    border-radius: 3px;
}

.ground:hover{
    cursor: pointer;
    background-color: rgb(61, 61, 61);
    border: 1px solid rgb(20, 18, 18);
}

.tree, .grass, .tent{
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 20px;
    background-color: rgb(56, 201, 56);
    border-radius: 3px;
}

.grass:hover, .tent:hover, .tree:hover{
    cursor: pointer;
    background-color: rgb(150, 219, 150);
    border: 1px solid rgb(34, 58, 34);
}
