<div id="selectLvl">Select level</div>

<p style="font-size: 20px; font-weight: 500;">Board size</p>

<!--<select (change)="selectBoardSize($event)" class="form-select" style="width: 130px;">-->
<select (change)="selectBoardSize($event)" [(ngModel)]="selectedSize" class="form-select" style="width: 130px;">
    <!--<option *ngFor="let item of boardSizes; let i= index" [ngValue]="i">{{item}}</option>-->
    <option *ngFor="let item of boardSizes; let i = index;" [ngValue]="item">{{item}}</option>
</select>

<div *ngIf="!levelIsSelected" style="width: 90%; margin: auto;">
    <!--<app-board *ngIf="selectedSize === boardSizes[0] "></app-board>-->
    <!--<div *ngIf="selectedSize === boardSizes[0]">
        <div>Plansze 5 x 5</div>
        <div>
            <div *ngFor="let item of levels">{{item}}</div>
        </div>
    </div>
    <div *ngIf="selectedSize === boardSizes[1]">
        <div>Plansze 6 x 6</div>
        <div>
            <div *ngFor="let item of levels">{{item}}</div>
        </div>
    </div>-->
    <div>Plansze {{selectedSize}}</div>
    <div>
        <div *ngFor="let item of levels; let i=index;" (click)="selectLevel(i)" class="test" style="cursor: pointer;">{{item}}</div>
        <div style="clear: both;"></div>
    </div>
</div>

<app-board *ngIf="levelIsSelected" lvl="{{levelName}}" map="{{selectedSize}}"></app-board>

<style>
.test{
    float: left;
    width: 10%;
    height: 120px;
    color: bisque;
    background-color: darkgrey;
    margin: 5px;
}

.test:hover{
    background-color: rgb(139,139,139);
}

</style>
