<div *ngIf="!levelIsSelected" class="content">
    <div>
        <p id="selectLvlLabel">
            <a routerLink="/select-level" routerLinkActive="active"> Select level </a>
        </p>
        <p id="createLvlLabel">
            <a routerLink="/level-creator" routerLinkActive="active"> Create level </a>
        </p>
        <p id="loadMapLabel">
            <a routerLink="/load-map" routerLinkActive="active"> Load level </a>
        </p>
        <p style="clear: both;"></p>
    </div>
</div>