<div style="color: white; font-size: 20px;">
    {{levelName}}
</div>

<div id="gameArea" >
    <button (click)="reset()" class="btn btn-primary"> Reset </button>
    <button (click)="undoMove()" class="btn btn-warning" style="margin-left:20px;"> Undo </button>
    <button (click)="checkTents()" class="btn btn-info" style="margin-left:20px;"> Check </button>

    <div style="margin-left: 50px; justify-content: center;">
        <div style="float: left;  width: 50px; height: 50px;"></div>

        <div style="float: left;  height: 50px;">
            <div class="top" *ngFor="let val of topCountofTents; let i=index">
                <div class="countOfTents">{{topCountofTents[i]}}</div>
            </div>
        </div>

        <div style="clear: both;"></div>
        
        <div style="float: left;  width: 50px;">
            <div class="left" *ngFor="let val of leftCountofTents; let i=index">
                <div class="countOfTents">{{leftCountofTents[i]}}</div>
            </div>
        </div>
        
        <div style="float: left;">
            <div>
                <div *ngFor="let val of startLevel; let i=index">
                    
                    <div style="float: left;" *ngFor="let val2 of startLevel[i]; let j=index">
                        <div *ngIf="startLevel[i][j]==0" class="tree tile">
                            <i class="icon-tree icon"></i>
                        </div>
                        <div *ngIf="startLevel[i][j]==1" class="ground tile" (click)="clickTile2(i,j)">
                        </div>
                        <div *ngIf="startLevel[i][j]==2" class="grass tile" (click)="clickTile2(i,j)">
                        </div>
                        <div *ngIf="startLevel[i][j]==3" class="tent tile" (click)="clickTile2(i,j)">
                            <i class="icon-campsite icon"></i>
                        </div>
                    </div>
    
    
                </div>
            </div>
    
        </div>
        <div style="clear: both;"></div>
        <div>
            {{gameTime}}
        </div>
    </div>

    <div *ngIf="levelIsEnd">
        <app-final-dialog></app-final-dialog>
    </div>

    <div *ngIf="levelIsIncorrect">
        <span style="color: red; font-size: 30px; ">Znaleziono błąd</span>
    </div>

</div>


