#gameArea{
    margin: 30px auto 30px auto;
    width: 100%;
}

#signs{
    margin: 30px auto 30px auto;
}

#board{
    grid-gap: 0px;
    display: grid;
    grid-template-columns: repeat(5,52px);
    grid-template-rows: repeat(5,52px);
}

.icon{
    font-size: 30px;
    text-align: center;
}

.icon-tree{
    color: rgb(7, 70, 7);
}

.icon-campsite{
    color: rgb(114, 8, 8);
}

.ground{
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 20px;
    background-color: rgb(32, 29, 29);
    border-radius: 3px;
}

.ground:hover{
    cursor: pointer;
    background-color: rgb(61, 61, 61);
    border: 1px solid rgb(20, 18, 18);
}

.tree, .grass, .tent{
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 20px;
    background-color: rgb(56, 201, 56);
    border-radius: 3px;
}

.grass:hover, .tent:hover{
    cursor: pointer;
    background-color: rgb(150, 219, 150);
    border: 1px solid rgb(34, 58, 34);
}

.top{
    width: 50px;
    height: 50px;
    margin: 0 2px 0 2px;
    float: left;
    text-align: center;
}

.left{
    width: 50px;
    height: 50px;
    margin: 3.5px 0 3.5px 0;
    text-align: center;
}

.countOfTents{
    font-size: 25px;
    line-height: 50px;
}

